:root {
    
}

/** 
Poster images returned the by the OMDB API do not have uniform sizes.
Generally, movie posters have a 2:3 aspect ratio, so all poster images
are stretched to fit as a background image of a container with this aspect ratio.
 **/
.poster-container {
    background-color: rgb(126, 126, 126);
    max-height: 200px;
    padding-bottom: 150%;
}

/** Makes the main content container occupy the entire viewport vertically **/
main {
    /* min-height: calc(100vh - 3.5rem); */
}

.navbar-nav .nav-link {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/** Negative margin utility class **/
.ms-n5 {
    margin-left: -40px;
}

#quick-facts > span {
    margin-right: 0.5rem;
}

#age-rating {
    visibility: hidden;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 0.8rem;
    border: 1px solid black;
    border-radius: 10%;
    align-self: center;
    padding: 0px 4px;
}

.rating-icon {
    color:rgb(184, 172, 72);
    padding: 0 0.2rem;
}

.mr-auto {
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

footer {
    display: block;
}

/** Truncate movie titles **/
.card-title {
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}

.favourite-button {
    margin-left: auto;
}